In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import csv
import os
import keras
from tensorflow.python.client import device_lib
from tensorflow.keras import layers
from tensorflow.keras.models import Model
from tensorflow.keras.layers import BatchNormalization, Input, Dense
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from tensorflow.keras.callbacks import EarlyStopping
import matplotlib.pyplot as plt
import tensorflow_decision_forests as tfdf
import datetime

2024-02-28 15:53:29.273124: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-02-28 15:53:29.273197: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-02-28 15:53:29.273226: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-02-28 15:53:29.279833: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-02-28 15:53:30.035906: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [208]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sub = pd.read_csv("solution_submission.csv")

In [209]:
train.isnull().any()

Season      False
DateTime    False
HomeTeam    False
AwayTeam    False
Referee     False
HS          False
AS          False
HST         False
AST         False
HC          False
AC          False
HF          False
AF          False
HY          False
AY          False
HR          False
AR          False
HTHG        False
HTAG        False
HTR         False
FTHG        False
FTAG        False
FTR         False
dtype: bool

In [207]:
unique_teams = pd.unique(train[['HomeTeam', 'AwayTeam']].values.ravel())
unique_teams = unique_teams.tolist()
len(unique_teams)

43

In [210]:
train = train.drop(['FTHG', "FTAG", "Season"], axis = 1)

In [211]:
test = test.drop(["FTR", "ID", "Season"],axis=1)

In [212]:
train = train.drop(['Referee'], axis= 1)

In [213]:
test = test.drop(['Referee'], axis=1)

In [195]:
train.head()

,DateTime,HomeTeam,AwayTeam,Referee,HS,AS,HST,AST,HY,HR,HTHG,HTAG,HTR,FTR
0,2000-08-19T00:00:00Z,Charlton,Man City,Rob Harris,17,8,14,4,1,0,2,0,H,H
1,2000-08-19T00:00:00Z,Chelsea,West Ham,Graham Barber,17,12,10,5,1,0,1,0,H,H
2,2000-08-19T00:00:00Z,Coventry,Middlesbrough,Barry Knight,6,16,3,9,5,1,1,1,D,A
3,2000-08-19T00:00:00Z,Derby,Southampton,Andy D'Urso,6,13,4,6,1,0,1,2,A,D
4,2000-08-19T00:00:00Z,Leeds,Everton,Dermot Gallagher,17,12,8,6,1,0,2,0,H,H

In [74]:
test.head()

,HomeTeam,AwayTeam,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,HTHG,HTAG,HTR
0,Fulham,Arsenal,C Kavanagh,5,13,2,6,2,3,12,12,2,2,0,0,0,1,A
1,Crystal Palace,Southampton,J Moss,5,9,3,5,7,3,14,11,2,1,0,0,1,0,H
2,Liverpool,Leeds,M Oliver,22,6,6,3,9,0,9,6,1,0,0,0,3,2,H
3,West Ham,Newcastle,S Attwell,15,15,3,2,8,7,13,7,2,2,0,0,0,0,D
4,West Brom,Leicester,A Taylor,7,13,1,7,2,5,12,9,1,1,0,0,0,0,D

In [214]:
min_max_scaler = MinMaxScaler()
standard_scaler = StandardScaler()

In [215]:
train_numerics = train.select_dtypes(include = ['float64', 'int64']).drop(['HomeTeam', 'AwayTeam', "Referee", "HTR", "FTR"], axis=1, errors= 'ignore')
test_numerics = test.select_dtypes(include = ['float64', 'int64']).drop(['HomeTeam', 'AwayTeam', "Referee", "HTR"], axis=1, errors= 'ignore')

In [216]:
standrdized_train_data = standard_scaler.fit_transform(train_numerics)
standrdized_test_data = standard_scaler.fit_transform(test_numerics)

In [217]:
standrdized_train_df = pd.DataFrame(standrdized_train_data, columns=train_numerics.columns)
standrdized_test_df = pd.DataFrame(standrdized_test_data, columns=test_numerics.columns)

In [219]:
standrdized_train_df['HomeTeam'] = train["HomeTeam"]
standrdized_train_df['AwayTeam'] = train["AwayTeam"]

standrdized_train_df['HTR'] = train['HTR']
standrdized_train_df['FTR'] = train["FTR"]

standrdized_test_df['HomeTeam'] = test["HomeTeam"]
standrdized_test_df['AwayTeam'] = test["AwayTeam"]

standrdized_test_df['HTR'] = test['HTR']

In [220]:
standrdized_train_df

,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,HTHG,HTAG,HomeTeam,AwayTeam,HTR,FTR
0,0.664129,-0.566731,2.311087,-0.294172,-0.041677,0.444008,0.411162,-0.000963,-0.339952,0.188338,-0.249877,-0.304949,1.583839,-0.698127,Charlton,Man City,H,H
1,0.664129,0.316426,1.117437,0.061040,0.280875,0.810240,1.988693,0.503545,-0.339952,0.188338,-0.249877,-0.304949,0.381684,-0.698127,Chelsea,West Ham,H,H
2,-1.438946,1.199583,-0.971451,1.481888,0.603426,-0.288456,0.937005,2.269321,3.027447,0.974374,3.649646,-0.304949,0.381684,0.701072,Coventry,Middlesbrough,D,A
3,-1.438946,0.537215,-0.673038,0.416252,-0.364229,1.176472,-0.114682,0.251291,-0.339952,-0.597697,-0.249877,-0.304949,0.381684,2.100271,Derby,Southampton,A,D
4,0.664129,0.316426,0.520612,0.416252,-0.041677,-0.288456,2.514537,2.017067,-0.339952,0.974374,-0.249877,-0.304949,1.583839,-0.698127,Leeds,Everton,H,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7595,0.090563,-0.787521,-0.971451,-0.649383,-1.009332,-0.654688,0.148240,-0.253216,-0.339952,1.760410,3.649646,-0.304949,-0.820471,-0.698127,Leicester,Man United,D,A
7596,3.340770,-1.229099,1.117437,-0.294172,0.925978,-1.753383,-1.166370,-2.018992,-0.339952,-0.597697,-0.249877,-0.304949,1.583839,-0.698127,Man City,Norwich,H,H
7597,-2.012512,0.758005,-1.269863,0.416252,-1.331884,-0.288456,-0.114682,-1.766738,-0.339952,-1.383733,-0.249877,-0.304949,0.381684,0.701072,Newcastle,Liverpool,D,A
7598,-0.100626,-1.229099,-0.673038,-0.649383,0.925978,-1.387151,-0.640526,1.008052,-1.181802,-0.597697,-0.249877,-0.304949,-0.820471,0.701072,Southampton,Sheffield United,A,H
7599,-0.674191,0.537215,-1.568276,-0.294172,-1.976987,0.810240,1.199927,0.251291,0.501898,-0.597697,-0.249877,-0.304949,-0.820471,-0.698127,West Ham,Aston Villa,D,D

In [221]:
train.dtypes

DateTime    object
HomeTeam    object
AwayTeam    object
HS           int64
AS           int64
HST          int64
AST          int64
HC           int64
AC           int64
HF           int64
AF           int64
HY           int64
AY           int64
HR           int64
AR           int64
HTHG         int64
HTAG         int64
HTR         object
FTR         object
dtype: object

In [222]:
print(train.columns, test.columns)

Index(['DateTime', 'HomeTeam', 'AwayTeam', 'HS', 'AS', 'HST', 'AST', 'HC',
       'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'HTHG', 'HTAG', 'HTR', 'FTR'],
      dtype='object') Index(['DateTime', 'HomeTeam', 'AwayTeam', 'HS', 'AS', 'HST', 'AST', 'HC',
       'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'HTHG', 'HTAG', 'HTR'],
      dtype='object')

In [223]:
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(standrdized_train_df, label="FTR")
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(standrdized_test_df)

In [224]:
tuner = tfdf.tuner.RandomSearch(
    num_trials=100, 
    use_predefined_hps = True,
    trial_num_threads = 1,
    trial_maximum_training_duration_seconds= None
)

rf = tfdf.keras.RandomForestModel(task=tfdf.keras.Task.CLASSIFICATION, hyperparameter_template="benchmark_rank1")
rf.compile(metrics=["accuracy"])
rf_his =rf.fit(x = train_ds, verbose=2)

print(rf.summary())

Resolve hyper-parameter template "benchmark_rank1" to "benchmark_rank1@v1" -> {'winner_take_all': True, 'categorical_algorithm': 'RANDOM', 'split_axis': 'SPARSE_OBLIQUE', 'sparse_oblique_normalization': 'MIN_MAX', 'sparse_oblique_num_projections_exponent': 1.0}.
Use /tmp/tmp7i870f75 as temporary training directory
Reading training dataset...
Training tensor examples:
Features: {'HS': <tf.Tensor 'data:0' shape=(None,) dtype=float64>, 'AS': <tf.Tensor 'data_1:0' shape=(None,) dtype=float64>, 'HST': <tf.Tensor 'data_2:0' shape=(None,) dtype=float64>, 'AST': <tf.Tensor 'data_3:0' shape=(None,) dtype=float64>, 'HC': <tf.Tensor 'data_4:0' shape=(None,) dtype=float64>, 'AC': <tf.Tensor 'data_5:0' shape=(None,) dtype=float64>, 'HF': <tf.Tensor 'data_6:0' shape=(None,) dtype=float64>, 'AF': <tf.Tensor 'data_7:0' shape=(None,) dtype=float64>, 'HY': <tf.Tensor 'data_8:0' shape=(None,) dtype=float64>, 'AY': <tf.Tensor 'data_9:0' shape=(None,) dtype=float64>, 'HR': <tf.Tensor 'data_10:0' shape=(None,) dtype=float64>, 'AR': <tf.Tensor 'data_11:0' shape=(None,) dtype=float64>, 'HTHG': <tf.Tensor 'data_12:0' shape=(None,) dtype=float64>, 'HTAG': <tf.Tensor 'data_13:0' shape=(None,) dtype=float64>, 'HomeTeam': <tf.Tensor 'data_14:0' shape=(None,) dtype=string>, 'AwayTeam': <tf.Tensor 'data_15:0' shape=(None,) dtype=string>, 'HTR': <tf.Tensor 'data_16:0' shape=(None,) dtype=string>}
Label: Tensor("data_17:0", shape=(None,), dtype=int64)
Weights: None
Normalized tensor features:
 {'HS': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast:0' shape=(None,) dtype=float32>), 'AS': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_1:0' shape=(None,) dtype=float32>), 'HST': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_2:0' shape=(None,) dtype=float32>), 'AST': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_3:0' shape=(None,) dtype=float32>), 'HC': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_4:0' shape=(None,) dtype=float32>), 'AC': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_5:0' shape=(None,) dtype=float32>), 'HF': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_6:0' shape=(None,) dtype=float32>), 'AF': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_7:0' shape=(None,) dtype=float32>), 'HY': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_8:0' shape=(None,) dtype=float32>), 'AY': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_9:0' shape=(None,) dtype=float32>), 'HR': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_10:0' shape=(None,) dtype=float32>), 'AR': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_11:0' shape=(None,) dtype=float32>), 'HTHG': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_12:0' shape=(None,) dtype=float32>), 'HTAG': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_13:0' shape=(None,) dtype=float32>), 'HomeTeam': SemanticTensor(semantic=<Semantic.CATEGORICAL: 2>, tensor=<tf.Tensor 'data_14:0' shape=(None,) dtype=string>), 'AwayTeam': SemanticTensor(semantic=<Semantic.CATEGORICAL: 2>, tensor=<tf.Tensor 'data_15:0' shape=(None,) dtype=string>), 'HTR': SemanticTensor(semantic=<Semantic.CATEGORICAL: 2>, tensor=<tf.Tensor 'data_16:0' shape=(None,) dtype=string>)}
Training dataset read in 0:00:00.288093. Found 7600 examples.
Training model...

[INFO 24-02-28 18:00:32.4456 KST kernel.cc:773] Start Yggdrasil model training
[INFO 24-02-28 18:00:32.4456 KST kernel.cc:774] Collect training examples
[INFO 24-02-28 18:00:32.4456 KST kernel.cc:787] Dataspec guide:
column_guides {
  column_name_pattern: "^__LABEL$"
  type: CATEGORICAL
  categorial {
    min_vocab_frequency: 0
    max_vocab_count: -1
  }
}
default_column_guide {
  categorial {
    max_vocab_count: 2000
  }
  discretized_numerical {
    maximum_num_bins: 255
  }
}
ignore_columns_without_guides: false
detect_numerical_as_discretized_numerical: false

[INFO 24-02-28 18:00:32.4457 KST kernel.cc:393] Number of batches: 8
[INFO 24-02-28 18:00:32.4457 KST kernel.cc:394] Number of examples: 7600
[INFO 24-02-28 18:00:32.4477 KST kernel.cc:794] Training dataset:
Number of records: 7600
Number of columns: 18

Number of columns by type:
	NUMERICAL: 14 (77.7778%)
	CATEGORICAL: 4 (22.2222%)

Columns:

NUMERICAL: 14 (77.7778%)
	0: "AC" NUMERICAL mean:1.63805e-08 min:-1.75338 max:5.20502 sd:1
	1: "AF" NUMERICAL mean:-7.21162e-09 min:-2.77575 max:4.28735 sd:1
	2: "AR" NUMERICAL mean:9.77987e-09 min:-0.304949 max:6.36443 sd:1
	3: "AS" NUMERICAL mean:2.0097e-09 min:-2.33305 max:4.29063 sd:1
	4: "AST" NUMERICAL mean:-6.27613e-09 min:-1.71502 max:5.38922 sd:1
	5: "AY" NUMERICAL mean:1.6156e-09 min:-1.38373 max:5.69059 sd:1
	7: "HC" NUMERICAL mean:-6.71533e-09 min:-1.97699 max:4.47405 sd:1
	8: "HF" NUMERICAL mean:-5.4899e-11 min:-3.00682 max:5.6696 sd:1
	9: "HR" NUMERICAL mean:3.35276e-09 min:-0.249877 max:11.4487 sd:1
	10: "HS" NUMERICAL mean:2.25478e-10 min:-2.58608 max:5.63503 sd:1
	11: "HST" NUMERICAL mean:-1.50972e-10 min:-1.86669 max:5.29521 sd:1
	12: "HTAG" NUMERICAL mean:1.89088e-08 min:-0.698127 max:6.29787 sd:1
	13: "HTHG" NUMERICAL mean:2.34889e-09 min:-0.820471 max:5.1903 sd:1
	15: "HY" NUMERICAL mean:-8.078e-09 min:-1.1818 max:4.71115 sd:1

CATEGORICAL: 4 (22.2222%)
	6: "AwayTeam" CATEGORICAL has-dict vocab-size:44 zero-ood-items most-frequent:"Arsenal" 380 (5%)
	14: "HTR" CATEGORICAL has-dict vocab-size:4 zero-ood-items most-frequent:"D" 3141 (41.3289%)
	16: "HomeTeam" CATEGORICAL has-dict vocab-size:44 zero-ood-items most-frequent:"Arsenal" 380 (5%)
	17: "__LABEL" CATEGORICAL integerized vocab-size:4 no-ood-item

Terminology:
	nas: Number of non-available (i.e. missing) values.
	ood: Out of dictionary.
	manually-defined: Attribute which type is manually defined by the user i.e. the type was not automatically inferred.
	tokenized: The attribute value is obtained through tokenization.
	has-dict: The attribute is attached to a string dictionary e.g. a categorical attribute stored as a string.
	vocab-size: Number of unique values.

[INFO 24-02-28 18:00:32.4478 KST kernel.cc:810] Configure learner
[INFO 24-02-28 18:00:32.4480 KST kernel.cc:824] Training config:
learner: "RANDOM_FOREST"
features: "^AC$"
features: "^AF$"
features: "^AR$"
features: "^AS$"
features: "^AST$"
features: "^AY$"
features: "^AwayTeam$"
features: "^HC$"
features: "^HF$"
features: "^HR$"
features: "^HS$"
features: "^HST$"
features: "^HTAG$"
features: "^HTHG$"
features: "^HTR$"
features: "^HY$"
features: "^HomeTeam$"
label: "^__LABEL$"
task: CLASSIFICATION
random_seed: 123456
metadata {
  framework: "TF Keras"
}
pure_serving_model: false
[yggdrasil_decision_forests.model.random_forest.proto.random_forest_config] {
  num_trees: 300
  decision_tree {
    max_depth: 16
    min_examples: 5
    in_split_min_examples_check: true
    keep_non_leaf_label_distribution: true
    num_candidate_attributes: 0
    missing_value_policy: GLOBAL_IMPUTATION
    allow_na_conditions: false
    categorical_set_greedy_forward {
      sampling: 0.1
      max_num_items: -1
      min_item_frequency: 1
    }
    growing_strategy_local {
    }
    categorical {
      random {
      }
    }
    sparse_oblique_split {
      num_projections_exponent: 1
      normalization: MIN_MAX
    }
    internal {
      sorting_strategy: PRESORTED
    }
    uplift {
      min_examples_in_treatment: 5
      split_score: KULLBACK_LEIBLER
    }
  }
  winner_take_all_inference: true
  compute_oob_performances: true
  compute_oob_variable_importances: false
  num_oob_variable_importances_permutations: 1
  bootstrap_training_dataset: true
  bootstrap_size_ratio: 1
  adapt_bootstrap_size_ratio_for_maximum_training_duration: false
  sampling_with_replacement: true
}

[INFO 24-02-28 18:00:32.4481 KST kernel.cc:827] Deployment config:
cache_path: "/tmp/tmp7i870f75/working_cache"
num_threads: 12
try_resume_training: true

[INFO 24-02-28 18:00:32.4483 KST kernel.cc:889] Train model
[INFO 24-02-28 18:00:32.4484 KST random_forest.cc:416] Training random forest on 7600 example(s) and 17 feature(s).
[INFO 24-02-28 18:00:32.7150 KST random_forest.cc:802] Training of tree  1/300 (tree index:9) done accuracy:0.555757 logloss:16.0122
[INFO 24-02-28 18:00:32.8142 KST random_forest.cc:802] Training of tree  11/300 (tree index:5) done accuracy:0.583863 logloss:5.97472
[INFO 24-02-28 18:00:33.1487 KST random_forest.cc:802] Training of tree  21/300 (tree index:16) done accuracy:0.611184 logloss:2.88817
[INFO 24-02-28 18:00:33.3679 KST random_forest.cc:802] Training of tree  31/300 (tree index:30) done accuracy:0.622895 logloss:1.86301
[INFO 24-02-28 18:00:33.6108 KST random_forest.cc:802] Training of tree  41/300 (tree index:41) done accuracy:0.629474 logloss:1.43657
[INFO 24-02-28 18:00:33.7974 KST random_forest.cc:802] Training of tree  51/300 (tree index:51) done accuracy:0.633684 logloss:1.20125
[INFO 24-02-28 18:00:34.0132 KST random_forest.cc:802] Training of tree  61/300 (tree index:59) done accuracy:0.636711 logloss:1.06964
[INFO 24-02-28 18:00:34.2782 KST random_forest.cc:802] Training of tree  71/300 (tree index:73) done accuracy:0.637763 logloss:1.01245
[INFO 24-02-28 18:00:34.4943 KST random_forest.cc:802] Training of tree  81/300 (tree index:81) done accuracy:0.638947 logloss:0.966451
[INFO 24-02-28 18:00:34.7258 KST random_forest.cc:802] Training of tree  91/300 (tree index:92) done accuracy:0.638553 logloss:0.916354
[INFO 24-02-28 18:00:34.8541 KST random_forest.cc:802] Training of tree  101/300 (tree index:100) done accuracy:0.640789 logloss:0.872215
[INFO 24-02-28 18:00:35.0340 KST random_forest.cc:802] Training of tree  111/300 (tree index:107) done accuracy:0.642237 logloss:0.867219
[INFO 24-02-28 18:00:35.2858 KST random_forest.cc:802] Training of tree  121/300 (tree index:124) done accuracy:0.642632 logloss:0.86193
[INFO 24-02-28 18:00:35.5306 KST random_forest.cc:802] Training of tree  131/300 (tree index:131) done accuracy:0.644079 logloss:0.835315
[INFO 24-02-28 18:00:35.7109 KST random_forest.cc:802] Training of tree  141/300 (tree index:140) done accuracy:0.643553 logloss:0.821001
[INFO 24-02-28 18:00:35.8681 KST random_forest.cc:802] Training of tree  151/300 (tree index:150) done accuracy:0.644342 logloss:0.815449
[INFO 24-02-28 18:00:36.0581 KST random_forest.cc:802] Training of tree  161/300 (tree index:158) done accuracy:0.643816 logloss:0.801834
[INFO 24-02-28 18:00:36.2701 KST random_forest.cc:802] Training of tree  171/300 (tree index:169) done accuracy:0.643158 logloss:0.800711
[INFO 24-02-28 18:00:36.4936 KST random_forest.cc:802] Training of tree  181/300 (tree index:179) done accuracy:0.642895 logloss:0.800737
[INFO 24-02-28 18:00:36.7141 KST random_forest.cc:802] Training of tree  191/300 (tree index:192) done accuracy:0.6425 logloss:0.78761
[INFO 24-02-28 18:00:36.9487 KST random_forest.cc:802] Training of tree  201/300 (tree index:203) done accuracy:0.641447 logloss:0.787135
[INFO 24-02-28 18:00:37.1363 KST random_forest.cc:802] Training of tree  211/300 (tree index:210) done accuracy:0.643026 logloss:0.786339
[INFO 24-02-28 18:00:37.2958 KST random_forest.cc:802] Training of tree  221/300 (tree index:220) done accuracy:0.645789 logloss:0.785219
[INFO 24-02-28 18:00:37.5163 KST random_forest.cc:802] Training of tree  231/300 (tree index:228) done accuracy:0.647237 logloss:0.785293
[INFO 24-02-28 18:00:37.7643 KST random_forest.cc:802] Training of tree  241/300 (tree index:240) done accuracy:0.645395 logloss:0.785591
[INFO 24-02-28 18:00:37.9453 KST random_forest.cc:802] Training of tree  251/300 (tree index:250) done accuracy:0.642105 logloss:0.784995
[INFO 24-02-28 18:00:38.1608 KST random_forest.cc:802] Training of tree  261/300 (tree index:262) done accuracy:0.643947 logloss:0.784392
[INFO 24-02-28 18:00:38.3674 KST random_forest.cc:802] Training of tree  271/300 (tree index:271) done accuracy:0.644737 logloss:0.783703
[INFO 24-02-28 18:00:38.5907 KST random_forest.cc:802] Training of tree  281/300 (tree index:281) done accuracy:0.645658 logloss:0.78344
[INFO 24-02-28 18:00:38.7314 KST random_forest.cc:802] Training of tree  291/300 (tree index:288) done accuracy:0.645526 logloss:0.783341
[INFO 24-02-28 18:00:38.9014 KST random_forest.cc:802] Training of tree  300/300 (tree index:298) done accuracy:0.644211 logloss:0.783157
[INFO 24-02-28 18:00:38.9016 KST random_forest.cc:882] Final OOB metrics: accuracy:0.644211 logloss:0.783157
[INFO 24-02-28 18:00:38.9983 KST kernel.cc:926] Export model in log directory: /tmp/tmp7i870f75 with prefix 3cce961789d24467
[INFO 24-02-28 18:00:39.2276 KST kernel.cc:944] Save model in resources
[INFO 24-02-28 18:00:39.2298 KST abstract_model.cc:881] Model self evaluation:
Number of predictions (without weights): 7600
Number of predictions (with weights): 7600
Task: CLASSIFICATION
Label: __LABEL

Accuracy: 0.644211  CI95[W][0.635072 0.653267]
LogLoss: : 0.783157
ErrorRate: : 0.355789

Default Accuracy: : 0.464342
Default LogLoss: : 1.06094
Default ErrorRate: : 0.535658

Confusion Table:
truth\prediction
   0     1    2     3
0  0     0    0     0
1  0  1529  326   302
2  0   590  552   772
3  0   295  419  2815
Total: 7600

One vs other classes:

[INFO 24-02-28 18:00:39.3363 KST kernel.cc:1233] Loading model from path /tmp/tmp7i870f75/model/ with prefix 3cce961789d24467
[INFO 24-02-28 18:00:40.2613 KST decision_forest.cc:660] Model loaded with 300 root(s), 411422 node(s), and 17 input feature(s).
[INFO 24-02-28 18:00:40.2613 KST abstract_model.cc:1343] Engine "RandomForestGeneric" built
[INFO 24-02-28 18:00:40.2613 KST kernel.cc:1061] Use fast generic engine

Model trained in 0:00:07.899597
Compiling model...
Model compiled.
Model: "random_forest_model_25"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "RANDOM_FOREST"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (17):
	AC
	AF
	AR
	AS
	AST
	AY
	AwayTeam
	HC
	HF
	HR
	HS
	HST
	HTAG
	HTHG
	HTR
	HY
	HomeTeam

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.      "HTR"  0.202950 ################
    2.      "AST"  0.174292 ############
    3.       "AS"  0.126181 #####
    4. "AwayTeam"  0.124761 #####
    5. "HomeTeam"  0.124441 #####
    6.     "HTHG"  0.123002 #####
    7.     "HTAG"  0.120678 ####
    8.       "AC"  0.119247 ####
    9.      "HST"  0.118893 ####
   10.       "AF"  0.118397 ####
   11.       "AR"  0.118210 ####
   12.       "HS"  0.097333 #
   13.       "HR"  0.096196 #
   14.       "AY"  0.095736 #
   15.       "HF"  0.095130 #
   16.       "HC"  0.094283 #
   17.       "HY"  0.083891

Variable Importance: NUM_AS_ROOT:
    1.  "HTR" 91.000000 ################
    2. "HTHG" 61.000000 ##########
    3. "HTAG" 35.000000 ######
    4.   "AR" 20.000000 ###
    5.  "AST" 20.000000 ###
    6.   "AS" 13.000000 ##
    7.   "AC" 12.000000 #
    8.   "HR" 11.000000 #
    9.  "HST" 11.000000 #
   10.   "AF" 10.000000 #
   11.   "HF"  7.000000 #
   12.   "AY"  5.000000
   13.   "HS"  3.000000
   14.   "HC"  1.000000

Variable Importance: NUM_NODES:
    1. "HomeTeam" 31859.000000 ################
    2. "AwayTeam" 30928.000000 ###############
    3.       "AC" 28169.000000 ##############
    4.       "AF" 24634.000000 ############
    5.       "AS" 17708.000000 ########
    6.      "AST" 14506.000000 #######
    7.       "AR" 12296.000000 #####
    8.       "HC" 9631.000000 ####
    9.       "AY" 9404.000000 ####
   10.       "HF" 8581.000000 ###
   11.       "HS" 6471.000000 ##
   12.      "HST" 4926.000000 ##
   13.       "HR" 2322.000000
   14.       "HY" 1191.000000
   15.      "HTR" 1062.000000
   16.     "HTAG" 1015.000000
   17.     "HTHG" 858.000000

Variable Importance: SUM_SCORE:
    1. "HomeTeam" 259469.375942 ################
    2. "AwayTeam" 251816.984354 ###############
    3.      "HTR" 226284.475632 #############
    4.       "AC" 189260.034801 ###########
    5.       "AF" 168501.806273 ##########
    6.      "AST" 155907.523448 #########
    7.       "AS" 137799.216069 ########
    8.       "AR" 107144.362908 ######
    9.     "HTHG" 78162.859987 ####
   10.     "HTAG" 71506.434829 ####
   11.       "AY" 64137.065763 ###
   12.       "HC" 62399.050989 ###
   13.      "HST" 62175.837544 ###
   14.       "HF" 59537.341328 ###
   15.       "HS" 51216.704080 ##
   16.       "HR" 34090.657910 #
   17.       "HY" 6550.882287



Winner takes all: true
Out-of-bag evaluation: accuracy:0.644211 logloss:0.783157
Number of trees: 300
Total number of nodes: 411422

Number of nodes by tree:
Count: 300 Average: 1371.41 StdDev: 34.8522
Min: 1255 Max: 1447 Ignored: 0
----------------------------------------------
[ 1255, 1264)  1   0.33%   0.33%
[ 1264, 1274)  1   0.33%   0.67%
[ 1274, 1283)  1   0.33%   1.00%
[ 1283, 1293)  4   1.33%   2.33% #
[ 1293, 1303)  5   1.67%   4.00% #
[ 1303, 1312)  7   2.33%   6.33% ##
[ 1312, 1322)  7   2.33%   8.67% ##
[ 1322, 1332)  9   3.00%  11.67% ##
[ 1332, 1341) 16   5.33%  17.00% ####
[ 1341, 1351) 23   7.67%  24.67% #####
[ 1351, 1361) 24   8.00%  32.67% ######
[ 1361, 1370) 36  12.00%  44.67% #########
[ 1370, 1380) 42  14.00%  58.67% ##########
[ 1380, 1390) 34  11.33%  70.00% ########
[ 1390, 1399) 17   5.67%  75.67% ####
[ 1399, 1409) 36  12.00%  87.67% #########
[ 1409, 1419) 17   5.67%  93.33% ####
[ 1419, 1428)  6   2.00%  95.33% #
[ 1428, 1438)  8   2.67%  98.00% ##
[ 1438, 1447]  6   2.00% 100.00% #

Depth by leafs:
Count: 205861 Average: 11.0298 StdDev: 2.18929
Min: 3 Max: 15 Ignored: 0
----------------------------------------------
[  3,  4)     4   0.00%   0.00%
[  4,  5)    78   0.04%   0.04%
[  5,  6)   656   0.32%   0.36%
[  6,  7)  2710   1.32%   1.67% #
[  7,  8)  7863   3.82%   5.49% ##
[  8,  9) 15551   7.55%  13.05% ####
[  9, 10) 24747  12.02%  25.07% #######
[ 10, 11) 32755  15.91%  40.98% #########
[ 11, 12) 34968  16.99%  57.97% ##########
[ 12, 13) 31828  15.46%  73.43% #########
[ 13, 14) 24697  12.00%  85.43% #######
[ 14, 15) 16680   8.10%  93.53% #####
[ 15, 15] 13324   6.47% 100.00% ####

Number of training obs by leaf:
Count: 205861 Average: 11.0754 StdDev: 17.1419
Min: 5 Max: 490 Ignored: 0
----------------------------------------------
[   5,  29) 195473  94.95%  94.95% ##########
[  29,  53)   6586   3.20%  98.15%
[  53,  77)   1713   0.83%  98.99%
[  77, 102)    771   0.37%  99.36%
[ 102, 126)    402   0.20%  99.56%
[ 126, 150)    251   0.12%  99.68%
[ 150, 175)    199   0.10%  99.77%
[ 175, 199)    112   0.05%  99.83%
[ 199, 223)     82   0.04%  99.87%
[ 223, 248)     70   0.03%  99.90%
[ 248, 272)     55   0.03%  99.93%
[ 272, 296)     43   0.02%  99.95%
[ 296, 320)     32   0.02%  99.97%
[ 320, 345)     36   0.02%  99.98%
[ 345, 369)     14   0.01%  99.99%
[ 369, 393)     12   0.01% 100.00%
[ 393, 418)      7   0.00% 100.00%
[ 418, 442)      1   0.00% 100.00%
[ 442, 466)      0   0.00% 100.00%
[ 466, 490]      2   0.00% 100.00%

Attribute in nodes:
	31859 : HomeTeam [CATEGORICAL]
	30928 : AwayTeam [CATEGORICAL]
	28169 : AC [NUMERICAL]
	24634 : AF [NUMERICAL]
	17708 : AS [NUMERICAL]
	14506 : AST [NUMERICAL]
	12296 : AR [NUMERICAL]
	9631 : HC [NUMERICAL]
	9404 : AY [NUMERICAL]
	8581 : HF [NUMERICAL]
	6471 : HS [NUMERICAL]
	4926 : HST [NUMERICAL]
	2322 : HR [NUMERICAL]
	1191 : HY [NUMERICAL]
	1062 : HTR [CATEGORICAL]
	1015 : HTAG [NUMERICAL]
	858 : HTHG [NUMERICAL]

Attribute in nodes with depth <= 0:
	91 : HTR [CATEGORICAL]
	61 : HTHG [NUMERICAL]
	35 : HTAG [NUMERICAL]
	20 : AST [NUMERICAL]
	20 : AR [NUMERICAL]
	13 : AS [NUMERICAL]
	12 : AC [NUMERICAL]
	11 : HST [NUMERICAL]
	11 : HR [NUMERICAL]
	10 : AF [NUMERICAL]
	7 : HF [NUMERICAL]
	5 : AY [NUMERICAL]
	3 : HS [NUMERICAL]
	1 : HC [NUMERICAL]

Attribute in nodes with depth <= 1:
	257 : HTR [CATEGORICAL]
	112 : HTHG [NUMERICAL]
	107 : HTAG [NUMERICAL]
	101 : AST [NUMERICAL]
	57 : AS [NUMERICAL]
	51 : AR [NUMERICAL]
	46 : HST [NUMERICAL]
	42 : AF [NUMERICAL]
	31 : AC [NUMERICAL]
	26 : HR [NUMERICAL]
	24 : HS [NUMERICAL]
	17 : AY [NUMERICAL]
	15 : HF [NUMERICAL]
	13 : HC [NUMERICAL]
	1 : HomeTeam [CATEGORICAL]

Attribute in nodes with depth <= 2:
	432 : HTR [CATEGORICAL]
	331 : AST [NUMERICAL]
	217 : HTAG [NUMERICAL]
	212 : HTHG [NUMERICAL]
	165 : AS [NUMERICAL]
	136 : HST [NUMERICAL]
	136 : AR [NUMERICAL]
	114 : AF [NUMERICAL]
	93 : AC [NUMERICAL]
	75 : HS [NUMERICAL]
	57 : HR [NUMERICAL]
	37 : AY [NUMERICAL]
	35 : HF [NUMERICAL]
	27 : HC [NUMERICAL]
	17 : AwayTeam [CATEGORICAL]
	15 : HomeTeam [CATEGORICAL]
	1 : HY [NUMERICAL]

Attribute in nodes with depth <= 3:
	739 : AST [NUMERICAL]
	614 : HTR [CATEGORICAL]
	374 : HST [NUMERICAL]
	358 : AS [NUMERICAL]
	348 : HTAG [NUMERICAL]
	313 : HTHG [NUMERICAL]
	292 : AR [NUMERICAL]
	265 : AF [NUMERICAL]
	260 : AC [NUMERICAL]
	175 : AwayTeam [CATEGORICAL]
	174 : HS [NUMERICAL]
	146 : HomeTeam [CATEGORICAL]
	138 : HR [NUMERICAL]
	104 : HF [NUMERICAL]
	101 : AY [NUMERICAL]
	87 : HC [NUMERICAL]
	8 : HY [NUMERICAL]

Attribute in nodes with depth <= 5:
	2402 : HomeTeam [CATEGORICAL]
	2402 : AwayTeam [CATEGORICAL]
	1969 : AST [NUMERICAL]
	1614 : AC [NUMERICAL]
	1538 : AF [NUMERICAL]
	1396 : AS [NUMERICAL]
	1136 : AR [NUMERICAL]
	967 : HST [NUMERICAL]
	868 : HTR [CATEGORICAL]
	605 : HS [NUMERICAL]
	575 : HC [NUMERICAL]
	561 : AY [NUMERICAL]
	536 : HTAG [NUMERICAL]
	535 : HF [NUMERICAL]
	450 : HTHG [NUMERICAL]
	375 : HR [NUMERICAL]
	53 : HY [NUMERICAL]

Condition type in nodes:
	141712 : ObliqueCondition
	63484 : ContainsBitmapCondition
	365 : ContainsCondition
Condition type in nodes with depth <= 0:
	209 : ObliqueCondition
	91 : ContainsBitmapCondition
Condition type in nodes with depth <= 1:
	642 : ObliqueCondition
	258 : ContainsBitmapCondition
Condition type in nodes with depth <= 2:
	1636 : ObliqueCondition
	464 : ContainsBitmapCondition
Condition type in nodes with depth <= 3:
	3561 : ObliqueCondition
	935 : ContainsBitmapCondition
Condition type in nodes with depth <= 5:
	12310 : ObliqueCondition
	5671 : ContainsBitmapCondition
	1 : ContainsCondition
Node format: NOT_SET

Training OOB:
	trees: 1, Out-of-bag evaluation: accuracy:0.555757 logloss:16.0122
	trees: 11, Out-of-bag evaluation: accuracy:0.583863 logloss:5.97472
	trees: 21, Out-of-bag evaluation: accuracy:0.611184 logloss:2.88817
	trees: 31, Out-of-bag evaluation: accuracy:0.622895 logloss:1.86301
	trees: 41, Out-of-bag evaluation: accuracy:0.629474 logloss:1.43657
	trees: 51, Out-of-bag evaluation: accuracy:0.633684 logloss:1.20125
	trees: 61, Out-of-bag evaluation: accuracy:0.636711 logloss:1.06964
	trees: 71, Out-of-bag evaluation: accuracy:0.637763 logloss:1.01245
	trees: 81, Out-of-bag evaluation: accuracy:0.638947 logloss:0.966451
	trees: 91, Out-of-bag evaluation: accuracy:0.638553 logloss:0.916354
	trees: 101, Out-of-bag evaluation: accuracy:0.640789 logloss:0.872215
	trees: 111, Out-of-bag evaluation: accuracy:0.642237 logloss:0.867219
	trees: 121, Out-of-bag evaluation: accuracy:0.642632 logloss:0.86193
	trees: 131, Out-of-bag evaluation: accuracy:0.644079 logloss:0.835315
	trees: 141, Out-of-bag evaluation: accuracy:0.643553 logloss:0.821001
	trees: 151, Out-of-bag evaluation: accuracy:0.644342 logloss:0.815449
	trees: 161, Out-of-bag evaluation: accuracy:0.643816 logloss:0.801834
	trees: 171, Out-of-bag evaluation: accuracy:0.643158 logloss:0.800711
	trees: 181, Out-of-bag evaluation: accuracy:0.642895 logloss:0.800737
	trees: 191, Out-of-bag evaluation: accuracy:0.6425 logloss:0.78761
	trees: 201, Out-of-bag evaluation: accuracy:0.641447 logloss:0.787135
	trees: 211, Out-of-bag evaluation: accuracy:0.643026 logloss:0.786339
	trees: 221, Out-of-bag evaluation: accuracy:0.645789 logloss:0.785219
	trees: 231, Out-of-bag evaluation: accuracy:0.647237 logloss:0.785293
	trees: 241, Out-of-bag evaluation: accuracy:0.645395 logloss:0.785591
	trees: 251, Out-of-bag evaluation: accuracy:0.642105 logloss:0.784995
	trees: 261, Out-of-bag evaluation: accuracy:0.643947 logloss:0.784392
	trees: 271, Out-of-bag evaluation: accuracy:0.644737 logloss:0.783703
	trees: 281, Out-of-bag evaluation: accuracy:0.645658 logloss:0.78344
	trees: 291, Out-of-bag evaluation: accuracy:0.645526 logloss:0.783341
	trees: 300, Out-of-bag evaluation: accuracy:0.644211 logloss:0.783157

None

In [225]:
predictions = rf.predict(test_ds)

1/1 [==============================] - 0s 120ms/step

In [226]:
predictions

array([[0.836666  , 0.13666661, 0.02666667],
       [0.08333332, 0.27999982, 0.6366662 ],
       [0.00666667, 0.1033333 , 0.8899993 ],
       ...,
       [0.04      , 0.10666663, 0.85333264],
       [0.04      , 0.15999992, 0.79999936],
       [0.04333334, 0.06666667, 0.8899993 ]], dtype=float32)

In [227]:
print(predictions)

[[0.836666   0.13666661 0.02666667]
 [0.08333332 0.27999982 0.6366662 ]
 [0.00666667 0.1033333  0.8899993 ]
 ...
 [0.04       0.10666663 0.85333264]
 [0.04       0.15999992 0.79999936]
 [0.04333334 0.06666667 0.8899993 ]]

In [228]:
a = []
for i in predictions :
    i = i.tolist()
    if i.index(max(i)) == 2 :
        a.append('H')
    elif i.index(max(i))==1:
        a.append('D')
    elif i.index(max(i))==0:
        a.append('A')

In [229]:
print(a)
len(a)

['A', 'H', 'H', 'D', 'A', 'D', 'A', 'A', 'H', 'H', 'A', 'H', 'D', 'A', 'A', 'H', 'D', 'A', 'D', 'A', 'H', 'A', 'A', 'H', 'H', 'H', 'A', 'H', 'H', 'H', 'A', 'H', 'A', 'H', 'H', 'D', 'A', 'H', 'A', 'H', 'H', 'D', 'D', 'H', 'H', 'H', 'D', 'D', 'A', 'H', 'A', 'D', 'H', 'H', 'D', 'D', 'H', 'H', 'H', 'A', 'A', 'H', 'A', 'A', 'D', 'H', 'H', 'A', 'H', 'H', 'A', 'H', 'H', 'H', 'A', 'H', 'D', 'A', 'A', 'A', 'H', 'H', 'A', 'D', 'H', 'H', 'H', 'H', 'A', 'H', 'H', 'H', 'H', 'H', 'H', 'A', 'A', 'A', 'A', 'H', 'H', 'H', 'A', 'A', 'H', 'H', 'D', 'D', 'D', 'H', 'D', 'H', 'H', 'A', 'H', 'H', 'H', 'D', 'H', 'A', 'H', 'A', 'H', 'H', 'A', 'D', 'A', 'A', 'A', 'H', 'A', 'D', 'A', 'H', 'A', 'H', 'H', 'D', 'H', 'D', 'H', 'H', 'A', 'H', 'A', 'H', 'A', 'A', 'H', 'D', 'H', 'D', 'A', 'H', 'A', 'A', 'H', 'H', 'H', 'A', 'A', 'D', 'A', 'H', 'H', 'A', 'D', 'H', 'H', 'H', 'H', 'A', 'H', 'A', 'H', 'A', 'A', 'H', 'H', 'H', 'H', 'D', 'A', 'D', 'H', 'A', 'A', 'A', 'A', 'A', 'H', 'D', 'H', 'A', 'A', 'D', 'D', 'H', 'A', 'D', 'A', 'H', 'H', 'A', 'H', 'A', 'H', 'H', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'H', 'A', 'H', 'D', 'H', 'D', 'D', 'A', 'A', 'H', 'H', 'A', 'H', 'H', 'H', 'A', 'H', 'D', 'H', 'H', 'D', 'A', 'A', 'H', 'D', 'A', 'H', 'H', 'A', 'A', 'H', 'A', 'H', 'H', 'H', 'A', 'H', 'A', 'A', 'H', 'H', 'A', 'H', 'H', 'H', 'H', 'H', 'A', 'A', 'A', 'H', 'A', 'D', 'H', 'A', 'A', 'A', 'H', 'H', 'H', 'H', 'A', 'A', 'H', 'A', 'A', 'D', 'H', 'H', 'H', 'A', 'H', 'H', 'H', 'A', 'A', 'H', 'D', 'A', 'H', 'A', 'D', 'A', 'H', 'A', 'D', 'D', 'A', 'A', 'H', 'H', 'D', 'A', 'H', 'D', 'H', 'H', 'H', 'H', 'H', 'A', 'H', 'A', 'A', 'H', 'D', 'H', 'A', 'H', 'A', 'A', 'H', 'A', 'A', 'H', 'H', 'H', 'H', 'A', 'H', 'A', 'A', 'A', 'H', 'A', 'H', 'H', 'D', 'D', 'A', 'H', 'A', 'D', 'H', 'D', 'A', 'A', 'H', 'A', 'H', 'D', 'A', 'H', 'A', 'A', 'H', 'A', 'A', 'H', 'H', 'H', 'A', 'A', 'A', 'D', 'H', 'D', 'A', 'H', 'H', 'H', 'H', 'H', 'H', 'A', 'H', 'H', 'H', 'H', 'A', 'H', 'H', 'A', 'H', 'D', 'H', 'H', 'A', 'D', 'H', 'H', 'H', 'A', 'A', 'H', 'H', 'D', 'A', 'A', 'H', 'H', 'H', 'D', 'H', 'H', 'H', 'H', 'D', 'A', 'H', 'D', 'A', 'H', 'A', 'H', 'D', 'A', 'A', 'H', 'D', 'D', 'H', 'H', 'A', 'A', 'D', 'H', 'H', 'H', 'A', 'A', 'A', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'D', 'H', 'A', 'H', 'A', 'D', 'A', 'D', 'D', 'H', 'D', 'D', 'A', 'A', 'A', 'H', 'H', 'H', 'H', 'A', 'A', 'D', 'A', 'A', 'H', 'A', 'A', 'H', 'H', 'A', 'A', 'A', 'A', 'A', 'A', 'H', 'H', 'A', 'A', 'H', 'H', 'H', 'H', 'D', 'H', 'D', 'A', 'H', 'A', 'H', 'D', 'H', 'D', 'H', 'H', 'A', 'H', 'A', 'H', 'D', 'D', 'H', 'H', 'H', 'D', 'D', 'H', 'H', 'A', 'H', 'D', 'A', 'A', 'H', 'H', 'A', 'H', 'H', 'A', 'A', 'H', 'D', 'H', 'H', 'A', 'A', 'H', 'H', 'H', 'H', 'H', 'D', 'H', 'H', 'A', 'H', 'A', 'A', 'H', 'H', 'H', 'A', 'A', 'D', 'H', 'H', 'A', 'H', 'A', 'A', 'H', 'H', 'H', 'A', 'A', 'D', 'H', 'A', 'H', 'H', 'A', 'A', 'D', 'A', 'H', 'H', 'A', 'H', 'H', 'H', 'H', 'D', 'H', 'H', 'A', 'H', 'A', 'A', 'A', 'H', 'D', 'A', 'D', 'D', 'H', 'H', 'H', 'A', 'H', 'D', 'A', 'H', 'H', 'A', 'H', 'H', 'A', 'H', 'H', 'A', 'H', 'H', 'H', 'A', 'A', 'A', 'H', 'A', 'D', 'H', 'D', 'H', 'D', 'A', 'A', 'H', 'H', 'D', 'A', 'A', 'H', 'A', 'H', 'D', 'H', 'A', 'A', 'H', 'H', 'A', 'A', 'H', 'A', 'D', 'H', 'A', 'H', 'A', 'A', 'H', 'A', 'H', 'H', 'A', 'H', 'H', 'A', 'A', 'H', 'H', 'D', 'D', 'H', 'A', 'A', 'H', 'A', 'A', 'D', 'A', 'H', 'A', 'H', 'H', 'H', 'H', 'A', 'D', 'H', 'H', 'H', 'H', 'H', 'H', 'A', 'H', 'H', 'A', 'A', 'A', 'A', 'H', 'H', 'H', 'H']

689

In [230]:
sub['FTR'] = a
sub.to_csv('submission.csv', index=False)
sub.head()

   ID FTR
0   1   A
1   2   H
2   3   H
3   4   D
4   5   A

In [231]:
sub

      ID FTR
0      1   A
1      2   H
2      3   H
3      4   D
4      5   A
..   ...  ..
684  685   A
685  686   H
686  687   H
687  688   H
688  689   H

[689 rows x 2 columns]